replicaCount: 1

image:
  repository: notification-service
  pullPolicy: IfNotPresent
  tag: "phase5"

service:
  type: ClusterIP
  port: 8002
  targetPort: 8002

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

secret:
  name: notification-service-secrets

metrics:
  enabled: false

livenessProbe:
  httpGet:
    path: /health
    port: 8002
  initialDelaySeconds: 10
  periodSeconds: 30
  timeoutSeconds: 3
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health
    port: 8002
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 3
